{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="pannel-center">
        <div class="service">
            <a href="/create/theme" class="btn btn-success">Cree un theme</a>
            <br>
            <a href="/edit/theme" class="btn btn-success">Editer un theme</a>
            <br>
            <a href="/delete/theme" class="btn btn-success">Supprimer un theme</a>
            <br>
            <a href="/create/categorie" class="btn btn-success">Cree une categorie</a>
            <br>
            <a href="/edit/categorie" class="btn btn-success">Editer une categorie</a>
            <br>
            <a href="/delete/categorie" class="btn btn-success">Supprimer une categorie</a>
            <br>
            <a href="/create/quiz" class="btn btn-success">Cree un quiz</a>
        </div>
    </div>
{% endblock fos_user_content %}
